{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bem vindo ao sistema de chamados! {% endblock %}</h1>
    {% for post in posts %}
       <a href="{{ url_for('post', id_chamado=post['id_chamado']) }}">
           <h2>Nome: {{ post['nome'] }}</h2>
           <h2>E-mail {{ post['email'] }}</h2>
           <h3>Problema: {{ post['descricao'] }}</h3>
           <h3>Data postagem: {{ post['dt_criacao'] }}</h3>

        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id_chamado=post['id_chamado']) }}">
            <span class="badge badge-warning">Editar</span>Editar
        </a>
        <hr>
    {% endfor %}
{% endblock %}